<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.berwilson.platform</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>exec npx next start -p 3000</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__APP_DIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__NODE_BIN__:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>NODE_ENV</key>
    <string>production</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/platform.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/platform.err.log</string>
</dict>
</plist>
