<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.berwilson.colima</string>
  <key>ProgramArguments</key>
  <array><string>/bin/zsh</string><string>-c</string>
    <string>export PATH=$HOME/.local/bin:$PATH; colima start --vm-type vz --cpu 2 --memory 3 --disk 30</string></array>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>/Users/richardwhite/Library/Logs/berwilson/colima.log</string>
  <key>StandardErrorPath</key><string>/Users/richardwhite/Library/Logs/berwilson/colima.err.log</string>
</dict>
</plist>
